body {
  background-color: #222321;
}
/*Css for sign up*/
.modal-dialog {
  border: 2px solid;
  border-color: #fdfdf4;
  border-radius: 10px;
}

.sign-up {
  font-family: 'Oxygen', helvetica, sans-serif;
  font-size: 24px;
  color: #fdfdf4;
}

.modal-title {
  font-family: 'Oxygen', helvetica, sans-serif;
  font-size: 36px;
  text-align: center; 
  color: #fdfdf4;
}

.info {
  font-family: 'Bree Serif', serif;
  font-size: 18px;
  margin: 15px 15px 15px 15px;
  display: block;
  text-align: right;
  color: #fbfec2;
}

#checkbox {
  margin: 0px 10px 0px 10px;
}

.exit,
.submit {
  font-family: 'Bree Serif', serif;
  font-size: 18px;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  padding: 0px 0px 0px 0px;
  background-color: #a3a57c;
  color: #222321;
  border-color: #a3a57c;
}

.close {
  color: #fbfec2;
}

#username,
#password,
#email {
  width: 250px;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  margin: 0px 5px 0px 10px;
  background-color: #222321;
}

.form {
  padding-right: 110px;
}
/*end css for sign up*/
/*Css for login*/
.log-in {
  width: 330px;
}

#login {
  font-family: 'Oxygen', helvetica, sans-serif;
  font-size: 24px;
  color: #fdfdf4;
}

.login-info {
  font-family: 'Bree Serif', serif;
  font-size: 18px;
  margin: 15px 0px 15px 15px;
  display: block;
  text-align: center;
  color: #fbfec2;
}

#username1,
#password1 {
  width: 220px;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  margin: 0px 0px 0px 10px;
  background-color: #222321;
}

.submit1 {
  font-family: 'Bree Serif', serif;
  font-size: 18px;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  padding: 0px 0px 0px 0px;
  float: right;
  background-color: #a3a57c;
  color: #222321;
  border-color: #a3a57c;
}

#checkbox1 {
  margin: 0px 10px 0px 10px;
}
/*end css for login*/
/*Css for contct us*/
.contact-us {
  font-family: 'Oxygen', helvetica, sans-serif;
  font-size: 24px;
  color: #fdfdf4;
}

#name {
  width: 250px;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  margin: 0px 5px 0px 10px;
  background-color: #222321;
}

.concern {
  font-family: 'Bree Serif', serif;
  font-size: 18px;
  margin: 15px 15px 15px 15px;
  display: block;
  color: #fbfec2;
}

#limit {
  font-family: 'Bree Serif', serif;
  font-size: 18px;
  color: #fbfec2;
}

#textarea {
  display: block;
  width: 570px;
  height: 200px;
  font-family: 'Bree Serif', serif;
  font-size: 16px;
  color: #10100a;
  background-color: #fdfdf4;
  opacity: .9;
}

#checkbox2, 
#checkbox3, 
#checkbox4, 
#checkbox5, 
#checkbox6 {
    margin: 0px 10px 0px 10px;
}
/*end css for contact us*/
/*Css for pricing and features*/





ul {
  border-top: 1px solid #10100a;
  list-style-image: url("images/star.png");
}