.navigation,
.title {
  font-family: 'Oxygen', helvetica, sans-serif;
  font-size: 24px;
  font-weight: lighter;
  color: #fdfdf4;
}

.title {
  font-size: 36px;
  font-weight: 600;
}

.logo {
  color: #f1fd14;
}

.text {
  font-family: 'Bree Serif', serif;
  font-size: 18px;
  color: #fbfec2;
}

.header {
  background-color: #10100a;
}

.content {
  background-color: #222321;
}