.modal-title {
  font-family: 'Oxygen', helvetica, sans-serif;
  font-size: 36px;
  text-align: center; 
}

.info {
  font-family: 'Bree Serif', serif;
  font-size: 24px;
  margin: 10px 10px 10px 10px;
  text-align: center;
}

#checkbox {
  margin: 0px 10px 0px 10px;
}

.exit,
.submit {
  font-family: 'Bree Serif', serif;
  font-size: 16px;
  border-radius: 20px;
  width: 100px;
}